html {
     box-sizing: border-box;
}
 *, *::before, *::after {
     box-sizing: inherit;
}
 html, body {
     width: 100%;
     height: 100%;
     margin: 0;
     padding: 0;
}
 body {
     background: #ffffff url('../img/geometry2.png');
    /* Background pattern from Subtle Patterns */
     font-family: 'Coda', cursive;
}
 .container {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
}
 h1 {
     font-family: 'Open Sans', sans-serif;
     font-weight: 300;
}
/* * Styles for the deck of cards */
 .deck {
     width: 660px;
     min-height: 680px;
     background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
     padding: 32px;
     border-radius: 10px;
     box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     align-items: center;
     margin: 0 0 3em;
}
 .deck .card {
     height: 125px;
     width: 125px;
     background: #2e3d49;
     font-size: 0;
     color: #ffffff;
     border-radius: 8px;
     cursor: pointer;
     display: flex;
     justify-content: center;
     align-items: center;
     cursor: pointer;
     box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}
 .deck .card.open {
     transform: rotateY(180deg);
     transition: 0.6s;
     background: #02b3e4;
     cursor: default;
}
 .deck .card.show {
     font-size: 33px;
}
 .deck .card.match {
     cursor: default;
     background: #02ccba;
     font-size: 33px;
}
 li.show {
     display:flex !important;
}
 .modal-title {
     text-align: center;
}
 .modal-body {
     text-align: center;
}
/* * Styles for the Score Panel */
 .score-panel {
     text-align: left;
     width: 345px;
     margin-bottom: 10px;
}
 .score-panel .stars {
     margin: 0;
     padding: 0;
     display: inline-block;
     margin: 0 40px 0 0;
}
 .score-panel .stars li {
     list-style: none;
     display: block;
     font-size: 30px;
     color: gold;
     margin-right: 5px;
}
 .score-panel .restart {
     float: right;
     cursor: pointer;
     font-size: 25px;
}
 .timer {
     text-align: center;
}
 #summaryStars {
     text-align: center;
     color: gold;
     font-size: 30px;
}
 .modal-body {
     font-size: 25px;
}
 .modal-title {
     font-size: 35px;
     color: green;
}
 .modal-footer {
     text-align: center;
}
 #playAgain {
     background: #3498db;
     background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
     background-image: -moz-linear-gradient(top, #3498db, #2980b9);
     background-image: -ms-linear-gradient(top, #3498db, #2980b9);
     background-image: -o-linear-gradient(top, #3498db, #2980b9);
     background-image: linear-gradient(to bottom, #3498db, #2980b9);
     -webkit-border-radius: 28;
     -moz-border-radius: 28;
     border-radius: 28px;
     font-family: Arial;
     color: #00ff00;
     font-size: 20px;
     padding: 10px 20px 10px 20px;
     text-decoration: none;
}
 #playAgain:hover {
     background: #326cd1;
     background-image: -webkit-linear-gradient(top, #326cd1, #b532cf);
     background-image: -moz-linear-gradient(top, #326cd1, #b532cf);
     background-image: -ms-linear-gradient(top, #326cd1, #b532cf);
     background-image: -o-linear-gradient(top, #326cd1, #b532cf);
     background-image: linear-gradient(to bottom, #326cd1, #b532cf);
     text-decoration: none;
}
 @media screen and (min-width:320px) and (max-width: 420px){
     .score-panel {
         text-align: left;
         width: 95%;
         margin-bottom: 25px;
    }
     .deck .card {
         margin: 5px;
         height: 65px;
         width: 20%;
         background: #2e3d49;
         font-size: 0;
         color: #ffffff;
         border-radius: 8px;
         cursor: pointer;
         display: flex;
         flex-wrap: wrap;
         justify-content: center;
         align-items: center;
         cursor: pointer;
         box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    }
     .deck {
         width: 100%;
         min-height: 355px;
         background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
         padding: 8px;
         border-radius: 10px;
         box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
         display: flex;
         flex-wrap: wrap;
         justify-content: space-between;
         align-items: center;
         margin: 0 0 3em;
         flex-wrap: ;
    }
}
